body {
	/* The base is 16px */
	font-family: 'Europe', Verdana, Arial, sans-serif;
	font-size: 100%;
  line-height: 1.125em;
	letter-spacing: 1px;

	background-color: black;
	color: #00cbfe;
	padding: 2em;

	/* The first background image */
  background: url('../../assets/background_v0.jpg') no-repeat center fixed;
  background-size: cover;
}

/* Header */
.header {
  /*height: em;*/
  display: flex;
  margin-bottom: 2em !important;
}

 .selectible:hover {
   cursor: pointer;
   background-color: #ef5350;
}

.datetime {
  /*float: right;*/
  flex-direction: row-reverse;
}

.logo {
  flex: 1;
}

.logo img {
  height: 6vh;
}

.block, .middleBlock, .property_block, .next_block {
  border: 1px solid #00cbfe;
  background-color:rgba(0, 0, 0, .6);
}

.property_block {
  display: flex;
}

.tiles {
  /*line-height: 2em;*/
}

.next_block {
  padding: 1em;
  margin-top: .7em;
}

.top {
  margin-bottom: 3em;
}

.middleBlock {
  margin-top: 2em;
  padding: 1em;
}

.bottomBlock {
  margin-top: 2em;
}

.label {
  margin-bottom: 10px !important;
  background-color: #00ccff;
  position: relative;


}

.label div {
  text-align: center;
  padding-top: 1em;
    /*line-height: 3.1em;*/
    text-transform: uppercase;
    color: white;
    padding: 0;

    position: relative;
top: 50%;
/*left: 10%;*/
transform: translateY(-50%);

}

.block, .property_block {
  height: 7vh;
   font-size: 3.4vh;
}

.number {
  position: relative;
  /*animation: blink 6s infinite;*/
}

.number div {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    margin: 0;
  padding: 0;
  font-size: 10vw;
  text-align: center;
}

/*.property_block div {
  display: inline-block;
  padding: 1em;
}*/

@keyframes blink {
    0%   { border-color: #00cbfe; }
    50%  { border-color: red;}
    100% { border-color: #00cbfe; }
}

.event_property__value {
  flex: 2;
}

.event_type_container {
  display: flex;
  flex: 2;
  padding: 0;
}

.event_type_container img {
  height: 2em;
}
